.sheet-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0.5rem;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: rgb(113 113 122 / var(--tw-border-opacity));
  --tw-border-opacity: 0.5;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.sheet-grid--editor {
  grid-template-columns: repeat(4, minmax(190px, 1fr));
}
.sheet-grid--player {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
.sheet-grid__chord {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 0.375rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
  transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}
.sheet-grid--editor .sheet-grid__chord {
  min-height: 96px;
  min-width: 190px;
}
.sheet-grid--player .sheet-grid__chord {
}
.sheet-grid__chord.active, 
.sheet-grid__chord.active + .sheet-grid__chord {
  --tw-bg-opacity: 1;
  background-color: rgb(228 228 231 / var(--tw-bg-opacity));
  transition-duration: 75ms;
}
.dark .sheet-grid__chord.active, .dark 
.sheet-grid__chord.active + .sheet-grid__chord {
  --tw-bg-opacity: 1;
  background-color: rgb(18 18 19 / var(--tw-bg-opacity));
}
.duration-1n {
  grid-column: span 4 / span 4;
}
.base-duration-3, 
.duration-2n\. {
  grid-column: span 3 / span 3;
}
.base-duration-2, 
.duration-2n {
  grid-column: span 2 / span 2;
}
.base-duration-1 {
  grid-column: span 1 / span 1;
}
.new-sheet__chord {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.duration-line {
  height: 0.25rem;
  width: 100%;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(113 113 122 / var(--tw-bg-opacity));
  opacity: 0.5;
}
