.sheet-grid {
  display: grid;
  gap: 0.5rem;

  grid-template-columns: repeat(4, 1fr);

  border-right-width: 1px;

  border-left-width: 1px;

  border-color: rgb(113 113 122 / var(--tw-border-opacity));

  --tw-border-opacity: 0.5;

  padding-left: 0.25rem;

  padding-right: 0.25rem;
}

.sheet-grid__chord {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 0.375rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.duration-1n {
  grid-column: span 4 / span 4;
}

.duration-2n {
  grid-column: span 2 / span 2;
}

.new-sheet__chord {
  display: flex;
  align-items: center;
}

.duration-line {
  margin-left: 0.5rem;
  height: 0.25rem;
  width: 100%;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(113 113 122 / var(--tw-bg-opacity));
  opacity: 0.5;
}
