.sheet-grid {
  display: grid;
  gap: 0.5rem;

  grid-template-columns: repeat(4, 1fr);

  @apply border-r border-l border-zinc-500 border-opacity-50 px-1;
}

.sheet-grid__chord {
  @apply p-2 rounded-md select-none;
  @apply flex flex-col;
}

.duration-1n {
  @apply col-span-4;
}

.duration-2n {
  @apply col-span-2;
}

.new-sheet__chord {
  @apply flex items-center;
}

.duration-line {
  @apply ml-2 h-1 rounded-full w-full bg-zinc-500 opacity-50;
}
